<div id="text">
  <label>Create Post</label><br>
  <button onclick="put()"><img src="https://cdn2.iconfinder.com/data/icons/squircle-ui/32/Edit-512.png"></button>
</div>

<div id="feed">
  Post
  Post
  Post
  post
</div>

<div id="textpost" class ="hidden">
  <form action="index.html" method="post">
    <input type="text" name="" value="">
  </form>
</div>
