 <div id="post_buttons" class="post_buttons clearfix" role="menu" data-js-postbuttons="">
  <a href="/new/text?redirect_to=%2Fdashboard" class="new_post_label" id="new_post_label_text" role="menuitem" data-post-type="regular" data-post-endpoint="text" data-js-text="">
    <i class="icon_post_text"></i>
    <span class="new_post_label_text">Text</span></a>
  </div>
