<h1>Welcome to Rumblr</h1>
<div id="container">
  <div id="slideshow">
    <img class="mySlides" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQi0jQE0vjTwA34UB1QVcKhOFJh3suYPliUfo0_0c3cy5MVkGT1oA">
    <img class="mySlides" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQa1BcwRmnwgifIuAZtowhs_he2hWpVmSrlWIZkcJJUDCM3PheS">
    <img class="mySlides" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR1RpqPQ593wM97v3rnoyjqlSo5OmyE-oIbLjquV26kVNDc_vsqLg">
  </div>
</div>
