<h1>Sign Up</h1>
<form id="signup" action="/signup" method="get">
  <p id ="errors"></p>
  <label>First Name</label><br>
  <input class="ins" type="text" name="first_name"><br>
  <label>Last Name</label><br>
  <input class="ins" type="text" name="last_name"><br>
  <label>Enter your date of birth</label><br>
  <input class="ins" type="date" name="birthday" min="2001-12-31"><br>
  <label>Email</label><br>
  <input class="ins" type="email" name="email"><br>
  <label>Password</label><br>
  <input class="ins" type="password" name="password"><br>
  <input type="submit">
</form>
